/* Apply box-sizing to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4be2ec;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 33px;
    margin-left: 67px;
    width: 40px;
}

.logo-text {
    color: black;
    font-size: 24px;
    font-weight: normal;
    margin-left: 15px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-size: 20px;
    margin-inline: 33px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    position: relative;
}

nav ul li a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
button[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; /* Adjust font size */
}

button[type="submit"] {
    background-color: #4be2ec; /* Blue color */
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4be2ec; /* Darker shade of blue on hover */
}

