/* Apply box-sizing to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4be2ec;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 33px;
    margin-left: 67px;
    width: 40px;
}

.logo-text {
    color: black;
    font-size: 24px;
    font-weight: normal;
    margin-left: 15px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-size: 20px;
    margin-inline: 33px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    position: relative;
}

nav ul li a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-column-gap: 30px; /* Adjust gap between columns */
}

fieldset {
    margin-bottom: 20px;
    border: none;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: calc(100% - 20px); /* Adjust padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    align-items: center;
    width: 40%; /* Full width */
    padding: 10px;
    background-color: #4be2ec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Adjust spacing */
}

button:hover {
    background-color: #4be2ec;
}
